@font-face {
  font-family: 'Balsamiq Sans';
  src: url('../assets/font/BalsamiqSans-Regular.eot');
  src: url('../assets/font/BalsamiqSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/BalsamiqSans-Regular.woff2') format('woff2'),
  url('../assets/font/BalsamiqSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.root-container {
  font-family: "Balsamiq Sans" !important;
}


