.song-container {
  height: 190px;
  width: 250px;
  position: relative;
  text-align:center;
  vertical-align:middle;
  display: table-cell;
}

.song-button {
  border-radius: 50px;
  width: 60px;
  height: 60px;
  background-image: url('../../../assets/images/default_button.png');
}

.rotate-counter {
  -moz-transform: rotate(-22.0deg); /* FF3.5+ */
  -o-transform: rotate(-22.0deg); /* Opera 10.5 */
  -webkit-transform: rotate(-22.0deg); /* Saf3.1+, Chrome */
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.02); /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.02)"; /* IE8 */
  transform: rotate(-22.0deg); /* Standard */
}

.rotate-clockwise {
  -moz-transform: rotate(22.0deg); /* FF3.5+ */
  -o-transform: rotate(22.0deg); /* Opera 10.5 */
  -webkit-transform: rotate(22.0deg); /* Saf3.1+, Chrome */
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=-0.02); /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=-0.02)"; /* IE8 */
  transform: rotate(22.0deg); /* Standard */
}

.answer-top-left{
  left: 0px;
  top: 0px;
}

.answer-top-right{
  left: 160px;
  top: 0px;
}

.answer-bottom-left{
  left: 0px;
  top: 140px;
}

.answer-bottom-right{
  left: 160px;
  top: 140px;
}

span {
  position: absolute;
  max-width: 90px;
}

.good-ans {
  animation: green-glow 1.5s infinite alternate;
  background-color: limegreen;
}

.bad-ans {
  animation: red-glow 1.5s infinite alternate;
  background-color: orangered;
}

@keyframes green-glow {
  from {
    box-shadow: 0 0 20px 10px limegreen;
  }
  to {
    box-shadow: 0 0 40px 20px limegreen;
    /*text-shadow: 0 0 20px limegreen;*/
  }
}

@keyframes red-glow {
  from {
    box-shadow: 0 0 20px 10px orangered;
  }
  to {
    box-shadow: 0 0 40px 20px orangered;
    /*text-shadow: 0 0 20px orangered;*/
  }
}
